includes:
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  bootstrap: %rootDir%/../../../config/bootstrap.php
  excludes_analyse:
    - src/Test/ApiTestCase.php
    - src/Test/Traits/FakerTrait.php
  symfony:
    container_xml_path: %rootDir%/../../../var/cache/test/srcApp_KernelTestDebugContainer.xml
  inferPrivatePropertyTypeFromConstructor: true
